* {
    border: 0;
    margin: 0;
}

body {
    box-sizing: border-box;
    background-color: hsl(210, 46%, 95%);
    height: 100vh;
}

.grid {
    padding: 10.25rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
    margin: auto;
}

.card {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    border-radius: 0.8rem;
}

.card img {
    border-radius: 6.25rem;
    width: 2rem;
}

.details {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 1.5rem;
}

.text-details {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

.text-details h4 {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 0.8rem;
    font-weight: 500;
    letter-spacing: -1px;
}

.text-details h5 {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 0.75rem;
    font-weight: 500;
    letter-spacing: -1px;
    opacity: 50%;
}

.card h2 {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 1.15rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
    line-height: 120%;
    letter-spacing: 0.04rem;
}

.card p {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 0.7rem;
    font-weight: 600;
    line-height: 150%;
    letter-spacing: 0.05rem;
    opacity: 75%;
}

.first-card {
    background-color: hsl(263, 55%, 52%);
    color: hsl(0, 0%, 100%);
    grid-area: 1 / 1 / 2 / 3;
    background-image: url(./images/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-position: 80% 0;
    background-size: 20% 40%;
}

.second-card {
    background-color: hsl(217, 19%, 35%);
    color: hsl(0, 0%, 100%);
    grid-area: 1 / 3 / 2 / 4;
}

.third-card {
    background-color: hsl(0, 0%, 100%);
    color: hsl(217, 19%, 35%);
    grid-area: 2 / 1 / 3 / 2;
    
}

.fourth-card {
    background-color: hsl(219, 29%, 14%);
    color: hsl(0, 0%, 100%);
    grid-area: 2 / 2 / 3 / 4;
}

.fifth-card {
    background-color: hsl(0, 0%, 100%);
    color: hsl(217, 19%, 35%);
    grid-area: 1 / 4 / 3 / 5;
}